<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/signup.css">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="mainHeader">
            <div class="mainHeader-generalContent">
                <div class="mainHeader-logoDiv">
                    <a href="http://{{ .idAddress }}:{{ .port }}/">
                        <img src="static/images/modernLogo.png" class="mainHeader-logo">
                    </a>
                </div>
        
                <div class="mainHeader-textBoxTitle">
                    <h1>Fantasy Spring Track and Field</h1>
                </div>
    
                <div class="mainHeader-textDivider"></div>
    
                <div class="mainHeader-textBox">
                    <a href="http://{{ .idAddress }}:{{ .port }}/community">
                        <h2>Community</h2>
                    </a>
                </div>
    
                <div class="mainHeader-textDivider"></div>
    
                <div class="mainHeader-textBox">
                    <a href="http://{{ .idAddress }}:{{ .port }}/user">
                        <h2>Dashboard</h2>
                    </a>
                </div>
    
                <div class="mainHeader-textDivider"></div>
    
                <div class="mainHeader-textBox">
                    <a href="http://{{ .idAddress }}:{{ .port }}/athletes">
                        <h2>athletes</h2>
                    </a>
                </div>
            </div>

            <div class="center-div">
                <p class="h1-body">How To Signup</p>
                <p class="p-body">
                    [sign up policy] [sign up policy] [sign up policy]
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy] 
                    [sign up policy] [sign up policy] [sign up policy]
                </p>
            </div>
        </div>

        
    </body>
</html>